<%- include('../components/head') %>

<div id="layout">
	<%- include('../components/menu') %> <%#
	<!-- Main container -->
	%>
	<div id="main">
		<%# Page header %>
		<div class="header">
			<h1><%= title %></h1>
			<h2><%= subTitle %></h2>
		</div>
		<%# Page content %>
		<div class="content">
			<div><%- pageContent %></div>
		</div>
	</div>
</div>
<%- include('../components/footer') %>
