<%- include('../components/head') %>
<div id="layout">
	<%#
	<!-- Menu -->
	%> <%- include('../components/menu') %> <%#
	<!-- Main container -->
	%>
	<div id="main">
		<%# Page header %>
		<div class="header">
			<h1><%= titles.title %></h1>
			<h2><%= titles.subTitle %></h2>
		</div>

		<%# Page content %>
		<div class="content">
			<%- include('../components/singlePostPreview') %> <%#
			<!-- Pagination -->
			%><% if (paginated) { %> <%- include('../components/pagination') %>
			<p class="archive-link">All the posts can be found in the <a href="/archive">archive</a></p>
			<% } %>
		</div>
	</div>
</div>
<%- include('../components/footer') %>
