<% if (locals.build) { %>
	<link rel="stylesheet" href="css/single-post-preview.css" />
	<% } else if (locals.dynamic) { %>
	<link rel="stylesheet" href="../css/single-post-preview.css" />
	<% } else {%>
	<link rel="stylesheet" href="/css/single-post-preview.css" />
	<% } %> <% posts.forEach((post, index) => { %> <%#
	<!-- Get the Markdown filename without it's extension -->
	%> <% const postFilename = post[0].replace(/\.[^/.]+$/, "") %> <%#
	<!-- Get the Markdown post title from it's front matter -->
	%> <% const postTitle = post[1].data.title %> <%#
	<!-- Get the post featured image from it's front matter -->
	%> <% const postFeaturedImage = post[1].data.featuredImage %> <%#
	<!-- Get the post date from it's front matter -->
	%> <% const postDate = post[1].data.date %> <%#
	<!-- Get the post description from it's front matter -->
	%> <% const postDescription = post[1].data.description %> <%#
	<!-- Get the post tags from it's front matter -->
	%> <% const postTags = post[1].data.tags %> <%#
	<!-- Get the post content -->
	%> <% const postContent = post[1].content %> <%#
	<!-- Create an excerpt from the post content -->
	%> <% const postExcerpt = postContent.substring(0, 180)+"..." %> <%#
	<!-- Single post preview -->
	%>
	<div class="<%= index % 2 === 0 ? 'blog-card' : 'blog-card alt' %>">
		<div class="meta">
			<%#
			<!-- Display the featured image if any, otherwise fallback to a default one -->
			%> <% if (locals.build) { %> <%#
			<!-- Added comment for readability -->
			%> <% if (!postFeaturedImage) { %>
			<div
				class="photo"
				style="
					background-image: url('.<%=`/images/graphic-of-white-camera-on-black-background-no-image-available.webp`%>');
				"
			></div>
			<% } else if (postFeaturedImage && postFeaturedImage.startsWith("/")) { %>
			<div class="photo" style="background-image: url('.<%=postFeaturedImage%>')"></div>
			<% } else { %>
			<div class="photo" style="background-image: url('<%=postFeaturedImage%>')"></div>
			<% } %> <%#
			<!-- Added comment for readability -->
			%> <% } else if (locals.dynamic) { %> <%#
			<!-- Added comment for readability -->
			%> <% if (!postFeaturedImage) { %>
			<div
				class="photo"
				style="
					background-image: url('..<%=`/images/graphic-of-white-camera-on-black-background-no-image-available.webp`%>');
				"
			></div>
			<% } else if (postFeaturedImage && postFeaturedImage.startsWith("/")) { %>
			<div class="photo" style="background-image: url('..<%=postFeaturedImage%>')"></div>
			<% } else { %>
			<div class="photo" style="background-image: url('<%=postFeaturedImage%>')"></div>
			<% } %> <%#
			<!-- Added comment for readability -->
			%> <% } else { %>
			<div
				class="photo"
				style="
					background-image: url('<%=postFeaturedImage ? postFeaturedImage : `/images/graphic-of-white-camera-on-black-background-no-image-available.webp`%>');
				"
			></div>
			<% } %>
	
			<ul class="details">
				<li class="date"><span><%= postDate %></span></li>
				<% if (postTags) { %>
				<li class="tags">
					<ul>
						<% postTags.forEach(tag => { %>
						<li>
							<% if (locals.build) { %>
							<a href="tags/<%= tag %>.html"><span><%= tag %></span></a>
							<% } else if (locals.dynamic) { %>
							<a href="../tags/<%= tag %>.html"><span><%= tag %></span></a>
							<% } else { %>
							<a href="/tags/<%= tag %>"><span><%= tag %></span></a>
							<% } %>
						</li>
						<% }) %>
					</ul>
				</li>
				<% } %>
			</ul>
		</div>
	
		<div class="description">
			<h1>
				<% if (locals.build || locals.dynamic) { %>
				<a href="/<%= postFilename %>.html" rel="bookmark"><%= postTitle %></a>
				<% } else { %>
				<a href="/<%= postFilename %>" rel="bookmark"><%= postTitle %></a>
				<% } %>
			</h1>
			<h2><%= postDescription %></h2>
			<p><%= postExcerpt %></p>
			<p class="read-more">
				<a <% if (locals.build || locals.dynamic) { %>
					href="/<%= postFilename %>.html" <% } else { %> href="/<%= postFilename %>" <% } %> aria-label="Read
					more about <%= postTitle %>" tabindex="0" role="button" class="btn info" > Read the post
					<span class="arrow arrow-right"></span>
				</a>
			</p>
		</div>
	</div>
	
	<hr />
	
	<% }) %>
	